
.Rectangle {
  opacity: 1;
  background-color: #f4f4f4;
}
.SCIENCE {
/*  width: 86px;
  height: 22px;*/
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.6px;
  text-align: left;
  color: var(--black);
}
/*.Line-Copy-Quin {
  width: 30px;
  height: 1.8px;
  border: solid 1.8px var(--black);
}*/
.Quintype {
  /*width: 135px;
  height: 39px;*/
  font-family: Lato;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--black);
}
/*.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}*/
.BUSINESS {
/*  width: 76px;
  height: 17px;*/
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.3px;
  text-align: left;
  color: var(--black);
}
.box-text {
/*  width: 371px;
  height: 96px;*/
  font-family: Lato;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
}

.author-name{
/*  width: 94px;
  height: 17px;*/
  font-family: Lato;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #818181;
}

.recent{
  background-color: white;
}
.Section1 {
  background-color: white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}
.Line-Copy-3 {
  width: 73px;
  height: 3px;
  border: solid 3px #edd30d;
}
.dot {
  height: 10px;
  width: 10px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
}

.card-img-top {
    width: 100%;
    /*height: 10vw;*/
    object-fit: cover;
}

/*.Line-Copy-3 {
  width: 64px;
  height: 2px;
  border: solid 3px var(--coral);
}
*/
.Lin-Manuel-Miranda-s {
/*  width: 518px;
  height: 126px;*/
  font-family: Lato;
  font-size: 34px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
}
.subscribe{
  background-color: blue;
  text-align: center;
  color: white;
}
.Lorem-Ipsum-has-been {
/*  width: 518px;
  height: 84px;*/
  font-family: Lato;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #5c5c5c;
}

.Jenny-Lawson-Is-Publ {
/*  width: 335px;
  height: 96px;*/
  font-family: Lato;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
}


.Alex-Parkinson {
/*  width: 118px;
  height: 22px;*/
  font-family: Lato;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #818181;
}
.Posted-15-min-ago {
  /*width: 114px;
  height: 17px;*/
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #3d3d3d;
}
/*.container {
  /*width: 1440px;
  height: 3015px;*/
  /*opacity: 0.7;*/
/*  background-color: #f4f4f4;
/*}*/
.input-center {
  text-align: center;
}

.must-read {
  background-image: url("images/wide.jpeg");
}
.trump {
  background-image: url("images/trump.jpg");
}
.carousel-inner{
  width:100%;
  max-height: 350px !important;
}
.carousel-content {
  position: absolute;
  bottom: 10%;
  left: 5%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.Lin-Manuel-Miranda-s {
/*  width: 334px;
  height: 160px;*/
  font-family: Lato;
  font-size: 34px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-top: 50px;
}
.carousel-caption {
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-caption-below {
    top: 50%;
    transform: translateY(-50%);
}

.Politics {
  /*width: 111px;
  height: 41px;*/
  font-family: Lato;
  font-size: 34px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--black);
}

.food {
  background-color: white;
}

.bottom-text
{
  text-align: right;
  color: white;
}




/*.custom-underline,
.custom-underline:hover,
.custom-underline:focus,
.custom-underline:active {
  text-decoration: none;
}
.temp::after {
  content: "";
  position: fixed;
}


.temp::after {
  content:"";
  top: 15%;
  height: 12px !important;
  width: 40%;
  left: 30%;
  background-color: black;
    transition: 0.4s ease-out all .1s;
}

.temp:hover{
  background-color: blue;
  width: 90%;
  left: 5%;
    transition: 0.5s ease all;
}*/
